.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.App-body {
  display: flex;
  flex:1 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  /*padding: 20px;*/
  color: white;
  flex: none;
}

.App-footer {
  flex:none;
}

.App-intro {
  font-size: large;
}

.App-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.App-layers {
  /* put the layer list on the left */
  /*list-style-type:none;*/
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  order: -1;
}

.App-layers {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  background: rgba(147, 128, 108, 0.1);
  overflow-y: auto;
  /*height: inherit;*/
  flex-grow: 0;
}

.App-aside {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  background: rgba(147, 128, 108, 0.1);
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  flex-wrap: wrap;
}

.Watch-container {
  flex-grow: 1;
  overflow-y: auto;
  /*max-height: 400px;*/
}

.Watch-element-title {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  display: flex;
}

.Aside-add-sample-polygon {
  position: absolute;
  bottom: 5px;
  font-size: small;
}

.Layer {
  padding: 3px;
  /*border-bottom: 1px solid black;*/
  display: flex;
  flex-direction: row;
  tab-index: 1;
  z-index: -1;
  /*margin-bottom: 2px;*/
  /*margin-right: 2px;*/
  /*background-color: aliceblue;*/
}

.Layer h4 {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}
.Layer-displayed {
  /*background-color: aquamarine;*/
}

.Layer-undisplayed {
  /*background-color: aliceblue;*/
}

.App-toolbar {
  background: rgba(147, 128, 108, 0.1);
  /*background-color: aqua;*/
  /*padding: 10px;*/
  /*text-align: left;*/
}

.App-toolbar button {
  /*width:40px;*/
  height:40px;
  /*margin-left: 6px;*/
  /*margin-right: 6px;*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: center;*/
  /*background-position-y: center;*/
  background-size: 100%;
}

.Button-select-feature {
  background-image: url("../public/icons/selectFeature.png");
}

.Button-drag {
  background-image: url("../public/icons/handDrag20.png");
}

.Button-home {
  background-image: url("../public/icons/homeIcon20x20.png");
}

.Button-zoom-area {
  background-image: url("../public/icons/Zoom-area.png");
}

.Button-measure-between-points {
  background-image: url("../public/icons/measurePoints.png");
}

.Button-measure-between-features {
  background-image: url("../public/icons/measureContour.png");
}

.Button-pan-to-coordinated {
  background-image: url("../public/icons/Pan-to-coordinate.png");
}

.App-canvas-wrapper {
    display:flex;
    flex: 1 1 auto;
}

.App-canvas {
    flex: 1 1 0;
    min-width: 0;
}

.App-status-bar {
  display: flex;
  flex-direction: row;
  background: rgba(147, 128, 108, 0.1);
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex:1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-layers, .HolyGrail-ads {
    flex: 0 0 12em;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
